#header {
  display: flex;
  width: 100%;
  height: 20px;
  flex-direction: row;
  justify-content: flex-end;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -webkit-app-region: drag;

  &.hide{
    opacity: 0;
  }

  .btn-flat {
    border: none;
    border-radius: 50%;
    background-color: rgb(241,241,241);
    color: rgb(95, 95, 95);
    cursor: pointer;
    outline:none;
    -webkit-app-region: no-drag;
  }
}
